<div class="example-container login-area w-100">
    <form [formGroup]="loginForm">
      <div class="example-form-fields">
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter User Name" formControlName="userName">
          </mat-form-field>
      </div>
      <div class="example-form-fields">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter Password" formControlName="password">
          </mat-form-field>
      </div>
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="OnLogin()">Login</button>
       
      </div>
    </form>
  </div>