.mat-toolbar.mat-primary
{
    background-color: #94b7bd !important;
}

.header-icon-row
{

list-style: none;
    margin: 0px;
    margin-top: 10px;
}

.header-buttons
{
    border-style: none;
    width:40px;
    height:40px;
}

.dashboard-button {
    background: transparent url(/assets/Images/dashboard.png) center center no-repeat;    
}

.logout-button {
    background: transparent url(/assets/Images/turn-off.png) center center no-repeat;    
}