<mat-toolbar color="primary">
    <mat-toolbar-row>
            <div>
                <img style="width: 200px;" src="assets/Images/logsqr_transparent.png" alt="">
            </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" class="header-icon-row" fxLayoutGap="10px">
                <li>
                    <button (click)="onDasboard()" class="header-buttons dashboard-button">
                       
                    </button>
                </li>
                <li>
                    <button (click)="onLogout()" class="header-buttons logout-button">
                        
                    </button>
                </li>
               
            </ul>

        </div>
    </mat-toolbar-row>
</mat-toolbar>